{% extends 'base.html' %}


{% block title %}Add Review{% endblock %}

{% block page_header %}
<div class="container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}

<section id="about">
    <div class="contact-container form-account">
        <h1 class="form__title">Add Review</h1>

        <p class="text-center">We highly appreciate your opinion about loopIToy. Please provide your review below. </p>
        
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.media }} 
            {{ form|crispy }}
            <!-- Buttons -->
            <div class="d-flex flex-column flex-md-row gap-md-2">
                <button type="submit" class="btn form__button form__button--primary">Send</button>
            </div>
        </form>
    </div>
</section>

{% endblock %}


{% block footer %}
    {% include 'includes/footer.html' %}
{% endblock %}