{% extends "base.html" %}
{% load static %}

{% block title %}Edit Toy{% endblock %}

{% block page_header %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>

{% endblock %}

{% block content %}
<div class="form-container form-toys">
  <h1 class="form__title">Edit Toy</h1>
  <div>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }} 
        {{ form|crispy }}
        <!-- Buttons -->

      <button class="btn form__button form__button--primary" type="submit">Add Toy</button>
    </form>
  </div>
</div>
{% endblock %}