{% extends 'base.html' %}
{% load static %}

{% block title %}Toy {{ toy.name }}{% endblock %}

{% block page_header %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>

{% endblock %}

{% block content %}

<section id="toy">
<div class="toy-detail">
    <div class="toy-container">
        <div class="toy-detail__header" >
            <!-- Book Image: Default Image has to be set manually due to cloudinary -->
            {% if toy.image == 'media/placeholder.placeholder.webp' %}
           
            <div class="toy-detail__picture align-self-center">
                <img class="img-fluid rounded" src="/media/placeholder.webp" alt="{{ toy.name }}">
            </div>
                {% else %}
            <div class="toy-detail__picture rounded">
                <img class="img-fluid rounded" src="{{ toy.image.url }}" alt="{{ toy.name }}">
            </div>
            {% endif %}
        </div>
        <!--Book Detail -->
        <div class="toy-detail__panel">
            <div class="toy-detail__info">
                <h2 class="text-center pt-3 pb-0 mb-0">{{toy.name}}</h2>
                <p class="text-center text-secondary mb-0">{{ toy.number}}</p>
                {% if toy.new_price %}
                    <p>
                        <span class="card-text-lg text-decoration-line-through">{{ toy.price }}€</span>
                        <span class="card-text-lg">{{ toy.new_price }}€</span>
                    </p>
                {% else %}
                    <p class="card-text-lg">{{ toy.price }}€</p>
                {% endif %}
                <p class="mb-0"> <i class="fas fa-tag mr-1"></i> {{ toy.category.friendly_name }}</p>
                <p class="mb-0"><i class="fa-solid fa-child mr-2"></i> {{ toy.get_age_display }}</p>
                <p><i class="fas fa-star mr-1"></i> {{ toy.get_quality_display }}</p>

                <p>{{ toy.description }}</p>

                <p>Brand: 
                    {% if toy.brand %}
                    <a class="copyright__link" href="{{ toy.brand.url }}" target="_blank"  rel="noopener nofollow" aria-label="Web side of {{ toy.brand }} is opened in a new tab" >{{ toy.brand }} </a>
                    {% else %}
                    Unkown
                    {% endif %}
                </p>
                
                {% if toy.status == 'in_bag' %}
                <p> <strong>INFO</strong>: This toy is currently in the shopping bag of yours or someone else!</p>
                {% endif %}
            </div>

            <!-- TODO CRUD Buttons -->
            {% if request.user.is_staff %}
            <div class="d-flex flex-row gap-2 justify-content-end pb-2 pe-2">
                <a class= "btn" href="{% url 'edit_toy' toy.id %}"> Edit</a>
                <a class= "btn" href="{% url 'delete_toy' toy.id %}"> Remove</a>
            </div>

            {% endif %}
            <!-- Add to Shopping and Back Shopping Buttons -->
            <form class="form" action="{% url 'add_to_bag' toy.id %}" method="POST">
                <div>
                    {% csrf_token %}
                    <div class="d-flex flex-row gap-2 justify-content-end pb-2 pe-2">
                        <a class= "btn form__button--secondary--reverse" href="{% url 'toys' %}"> <span><i class="fas fa-chevron-left mr-1"></i> </span> Back</a>
                        <input type="submit"  data-item_id = "{{ toy.id }}" class="btn form__button--primary" value="Add to Bag">
                    </div>
                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                </div>
            </form>
            
        </div>
    </div> 
</div>
</section>
{% endblock %}

{% block footer %}
    {% include 'includes/footer.html' %}
{% endblock %}