{% extends 'base.html' %}


{% block title %}How it Works{% endblock %}

{% block page_header %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>

{% endblock %}

{% block content %}
<div class="container container-how">
    <section id="how">
        <div class="how__intro">
            <h1 class="form__title">How it works?</h1>
            <p class="how__text">
                loopIToy is a platform where you can also easily sell toys that are not interesting for your kids anymore.
            </p>
            <div class="buttons d-flex flex-column flex-md-row align-items-center justify-content-md-center mt-1 mt-2">
                <a class="btn btn-border btn-box btn-home" href="accounts/signup">Register</a>
            </div>
        </div>
        <div class="wrapper p-2">
            <div class="how-card">
                <h3 class="how__subtitle bg-color-sec">How to sell toys?</h3>
                <p class="how__text"> Drop us pictures of toys via form.
                    Wait for our approval to send us toys. In case of more than 10 toys, we offer free delivery.</p>
            </div>
            <div class="how-card">
                <h3 class="how__subtitle bg-color-last">Which toys can you sent us?</h3>
                <p class="how__text">Our e-shop focus mainly on toys produced from sustainable or eco-friendly material. However, we accept also other toys if they support the child development, like montesorry toys. We take books and puzzles too. The toys should be fully functional - although we repair them if needed for a reasonably fee.</p>
            </div>
            <div class="how-card">
                <h3 class="how__subtitle bg-color-ter">How are the toys sold?</h3>
                <p class="how__text"> The toys are on e-shop for 12 months. The price is derived based on the usage level and original price. If the toy is not sold within 4 months we start reducing the price.</p>
                <p class="how__text pb-2">Once the toy is sold, you get 50% of the sell.</p>
            </div>
        </div>
    </section>
</div>
{% endblock %}

{% block footer %}
    {% include 'includes/footer.html' %}
{% endblock %}