{% extends 'base.html' %}


{% block title %}Home{% endblock %}

{% block page_header %}
<div class="container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>

{% endblock %}

{% block content %}
<div class="container h-100">

    <div class="home-wrapper">
        <h1 class="text-center">
            BUY OR SELL <br> SECOND-HAND TOYS IN OUR E-SHOP <br>  <br> TO GIVE <br> A SMILE TO YOUR KIDS AND <br> OUR PLANET <br> 
        </h1>
        <div class="buttons d-flex flex-column flex-md-row align-items-center justify-content-md-center gap-3 mt-5">
            <a class="btn btn-border btn-home" href="#">Shop Now</a>
            <a class="btn btn-border btn-home" href="#">Sell Toys</a>
        </div>

    </div>

</div>
{% endblock %}