{% extends 'base.html' %}


{% block title %}Home{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>

{% endblock %}

{% block content %}
<div class="container h-100">

    <div class="home-wrapper">
        <h1 class="text-center">
            BUY OR SELL <br> SECOND-HAND TOYS IN OUR E-SHOP <br> TO GIVE <br> A SMILE TO YOUR KIDS AND <br> OUR PLANET
        </h1>
        <!-- <h2 class="text-center">
            GIVE THE SECOND CHANCE TO TOYS. CONTRIBUTE TO SUSTAINABLE PLAYING AND LIVING WITH US!
        </h2> -->
        <div class="buttons d-flex flex-row justify-content-center gap-2">
            <a class="btn btn-border btn-home" href="#">Shop Now</a>
            <a class="btn btn-border btn-home" href="#">Sell Toys</a>
        </div>

    </div>

</div>
{% endblock %}