{% extends 'base.html' %}


{% block title %}Home{% endblock %}

{% block page_header %}
<div class="container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>

{% endblock %}

{% block content %}
<div class="container mt-0 h-100">

    <div class="home-wrapper">
        <h1 class="text-center mt-4">
            BUY OR SELL
            <br> SECOND-HAND TOYS IN OUR E-SHOP  
        </h1>
        <p class="text-center home-subtitle">to give a smile to your kids and our planet
        </p> 
        <div class="buttons d-flex flex-column flex-md-row align-items-center justify-content-md-center gap-3">
            <a class="btn btn-border btn-home" href="{% url 'toys' %}">Shop Now</a>
            <a class="btn btn-border btn-home" href="{% url 'sell_toy' %}">Sell Toys</a>
        </div>

    </div>

</div>
{% endblock %}

{% block footer %}
    {% include 'includes/footer_index.html' %}
{% endblock %}