{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css" integrity="sha512-SbiR/eusphKoMVVXysTKG/7VseWii+Y3FdHrt0EpKgpToZeemhqHeZeLWLhJutz/2ut2Vw1uQEj2MbRF+TVBUA==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'profiles/css/profiles.css' %}">
{% endblock %}

{% block title %}Your Profile{% endblock %}

{% block page_header %}
<div class="container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>

{% endblock %}

{% block content %}
<div class="overlay"></div>
<div>
    <section id="profile">
        <h2 class="text-center">
            Your Profile 
        </h2>
        {{ profile }}
        <div class="checkout__content">
            <!-- Summary checkout -->
            <div class="checkout__summary">
                <div class="orders-history">
                    <p class="checkout__subtitle fw-bold ">Order History</p>
                <div class="table-orders table-rensponsive checkout__table">
                    <table class="table table-sm table-borderless">
                        <thead>
                            <tr>
                                <th scope="col"> Number</th>
                                <th scope="col" class="th-hide">  Date</th>
                                <th scope="col"> Total</th>
                            </tr>
                        </thead>               
                {% for order in orders %}
                    {% if forloop.counter < 4 %}
                        <tr>
                            <td class="">
                                <a href="{% url 'order_history' order.order_number %}"
                                title="{{ order.order_number }}">
                                {{ order.order_number|truncatechars:7 }}
                                </a>
                            </td>
                            <td class=" th-hide">
                                {{ order.date }}
                            </td>
                            <td class="">
                                {{ order.grand_total }}€
                            </td>
                        </tr>
                        {% endif %}
                {% endfor %}
                    </table>
                    <div class="text-center">
                        {% if orders|length >= 4 %}
                        <a class="copyright__link" href="#">
                            See older orders
                        </a>
                        {% endif %}
                    </div>
                </div>
                </div>
                <div class="sells-history mt-4">
                    <p class="checkout__subtitle fw-bold ">Sell History</p>
                    <div class="table-orders table-rensponsive checkout__table">
                        <table class="table table-sm table-borderless">
                            <thead>
                                <tr>
                                    <th scope="col"> Number</th>
                                    <th scope="col" class="th-hide">  Date</th>
                                    <th scope="col"> Status</th>
                                </tr>
                            </thead>               
                    {% for sell in sells  %}
                        {% if forloop.counter < 4 %}
                            <tr>
                                <td class="">
                                    <a href="#"
                                    title="{{ sell.number }}">
                                    {{ sell.number|truncatechars:7 }}
                                    </a>
                                </td>
                                <td class=" th-hide">
                                    {{ sell.created_on }}
                                </td>
                                <td class="">
                                    {{ sell.get_status_display }}
                                </td>
                            </tr>
                            {% endif %}
                    {% endfor %}
                        </table>
                        <div class="text-center">
                            {% if sells|length >= 4 %}
                            <a class="copyright__link" href="#">
                                See older sells
                            </a>
                            {% endif %}
                        </div>
                </div>
            </div>
            
            <!-- Form checkout -->
            <div class="checkout__form mt-4">
                <p class="checkout__subtitle fw-bold ">Delivery Information</p>
                <div>
                    <form action="{% url 'profile' %}" method="POST" id="profile-update-form">
                       
                        {% csrf_token %}
                        {{ form|crispy }}


                            <!-- Buttons -->
                        <div class="checkout__btns mb-4">   
                            <div>
                                <button class="btn form__button--primary">
                                    <span class="font-weight-bold">Save Information</span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>  
        </div>
    </section>
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}