{% extends 'base.html' %}
{% load static %}


{% block title %}Thank You{% endblock %}

{% block page_header %}
<div class="container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
    <section id="checkout">
        <h2 class="text-center">
            Thank You
        </h2>
        <div class="mb-5">
            <p class="text-center">Your order information is below. A confirmation email will be sent to <strong>{{ order.email }}</strong></p>
        </div>
        <div class="checkout__content">
            <!-- Summary checkout -->
            <div class="checkout__summary">
                
                <p class="checkout__subtitle fw-bold">Order Summary</p>
                <p class="mb-0" >Order Number: {{ order.order_number}}</p>
                <p class="mt-0 mb-0">Order Date: {{ order.date}}</p>
                <div class="table-rensponsive checkout__table my-5">
                    <table class="table table-sm table-borderless">
                        <thead>
                            <tr>
                                <th scope="'col"> Toy</th>
                                <th scope="'col" style="text-align:right"> Price</th>
                            </tr>
                        </thead>               
                        {% for item in order.lineitems.all %}
                        <tr>
                            <td class="w-5">
                                {{ item.toy.name }}
                            </td>
                            <td style="text-align:right">
                                {{ item.toy.price }}€
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            
            <!-- Checkout succes delivery info -->
            <div class="checkout__form">
                <p class="checkout__subtitle fw-bold ">Delivery Information</p>
                <div class="checkout__delivery">
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black font-weight-bold">Full Name</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.full_name }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black font-weight-bold">Address</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.street_address }}</p>
                        </div>
                    </div>

                    {% if order.county %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black font-weight-bold">County</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.county }}</p>
                        </div>
                    </div>
                    {% endif %}

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black font-weight-bold">Town or City</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.town_or_city }}</p>
                        </div>
                    </div>

                    {% if order.postcode %}
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black font-weight-bold">Postal Code</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.postcode }}</p>
                        </div>
                    </div>
                    {% endif %}

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black font-weight-bold">Country</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.country }}</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black font-weight-bold">Phone Number</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.phone_number }}</p>
                        </div>
                    </div>

                </div>

                <p class="checkout__subtitle fw-bold mt-5"> Billing Information</p>
                <div class="checkout_bill">
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black font-weight-bold">Order Total</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.order_total }}€</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black font-weight-bold">Delivery</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.delivery_cost }}€</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-4">
                            <p class="mb-0 text-black font-weight-bold">Grand Total</p>
                        </div>
                        <div class="col-12 col-md-8 text-md-right">
                            <p class="mb-0">{{ order.grand_total }}€</p>
                        </div>
                    </div>

                </div>
                    
                <!-- Buttons -->
                <div class="checkout__btns">   
                    <div>
                        <a href="{% url 'home' %}" class="btn form__button--secondary flex-grow-0">
                            Return to Homepage
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
{% endblock %}
