@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* general rules */
html {
    box-sizing: border-box;
    height: 100%;
}

*, ::before, ::after {
    box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
    border: none;
}


:root {
    /* Fonts */
    --title-font: "Archivo", sans-serif;
    --text-font: "Roboto", sans-serif;

    /* Colors */
    --primary-color: #30592C;
    --secondary-color:#74301A;
    --ternary-color: #B49532;
    --last-color: #1C304A;
    --white: #fff;
    --black: #555555;
    --bg-white:#e9ecef;

    /* Utils */
    --border-radius: 0;
    --box-shadow: rgba(0, 0, 0, 0.24) 0px -1px 8px 3px;
  }

body{
    background: url('/media/background_img.webp') rgba(116,48,26, 0.7);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    height: 100%;
    background-blend-mode: multiply;
    font-family: var(--text-font);
    color: var(--black);
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer{
    flex-shrink: 0;
}


h1, h2, h3, h4{
    font-family: var(--title-font);
    line-height: 1.3;
}

h1{
    color: var(--white);
}

h2{
    color: var(--primary-color);
    text-align: center;
    font-weight: bold;
    margin-bottom: 2rem;

}

.overlay{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background-color: var(--white);
    z-index: -1;
}



/* ++++++++++ Header ++++++++++++++++++ */

/* overwrite bs style */
.navbar-nav .dropdown-menu{
    border: solid var(--white) 0px;
}

.navbar-nav .dropdown-menu.show{
    background-color: var(--white);
    border-radius: 0;
}

a.dropdown-item,
a.dropdown-item.active{
    background-color: var(--white);
    color: var(--primary-color);
    
}
a.dropdown-item:hover{
    color: var(--secondary-color);
    background-color: var(--white);
}

a.nav-link:hover,
a.nav-link.dropdown:hover{
    color: var(--secondary-color);
    font-weight: bold;
    background-color: var(--white);
}

a.nav-link.dropdown,
a.nav-link.dropdown.show,
.navbar-text,
.navbar-nav .nav-link,
.nav-item a.nav-link.active{
    color: var(--primary-color);
    font-weight: bold;
}

.navbar-expand{
    justify-content:flex-end;
}

div.nav-top-mobile .dropdown-menu.show{
    margin: 0;
    padding: 0;
}

/* custome style */
header,
footer{
    background-color: var(--white);
}

header,
footer{
    box-shadow: var(--box-shadow);
}


.nav-top-mobile{
    display: flex;
    flex-direction: row;
}

.nav-top{
    display: none;
}


.nav-top-mobile .dropdown-menu.show{
    width: 150%;
    border: solid var(--white) 0px;
}

.nav-top-mobile .search.dropdown-menu[data-bs-popper] {
    left: -50%;
}

.input-search{
    max-width: 100%;
}


.nav-top__search .form-control{
    border: solid var(--primary-color) 1px;
    color: var(--primary-color);
}

.border-primary-color{
    border: solid var(--primary-color) 1px;
}

.background-primary-color{
    background-color: #30592C;
}

.menu__item{
    color: var(--primary-color);
    font-weight: bold;
}

.menu__itemhg{
    color: var(--secondary-color);
    font-weight: bold;
}

 /* general styling classes */
.btn{
    background-color: var(--primary-color);
    border-radius: var(--border-radius);
    border: solid var(--primary-color) 1px;
    color: var(--white);
}

.btn:hover,
.btn:active{
    border-radius: var(--border-radius);
    background-color: var(--white);
    border: solid var(--primary-color) 1px;
    color: var(--primary-color);
}

.btn-border{
    border-color: var(--white);
}

.icon {
    color: var(--white);
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.icon:hover{
    color: var(--primary-color);
}

.text-primary-color
.icon-primary-color{
    color: var(--primary-color);
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.btn.btn-fixed-width,
.btn.btn-fixed-width:hover{
    width: 120px;
}

.bg-color-ter{
    background-color: var(--ternary-color);
    border-color: var(--ternary-color);
}

.bg-color-last{
    background-color: var(--last-color);
    border-color: var(--last-color);
}

.bg-color-sec{
    background-color: var(--secondary-color);
    background-color: var(--secondary-color);
}


/* ++++++++++++++ Footer +++++++++++++++++ */
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--primary-color);
    font-size: 1rem;
}


.footer__link i,
.footer__link i:hover{
    width: 35px;
    height: 35px;
    background-color:var(--primary-color);
    color: var(--white);
    border-radius: 50%;
    padding: 8px 0;
    text-align: center;
    font-size: 20px;
}

.footer__link i:hover{
    background-color:var(--secondary-color);
}

.copyright__link,
.copyright__link:hover{
    color: var(--primary-color);
}

.copyright__link:hover{
    color:var(--secondary-color);
}



/* ***************** Home  ************** */
.home-wrapper{
    max-width: 600px;
    margin: 1rem 1rem 0 1.5rem;
}

.btn-home{
    width: 200px;
    font-weight: bold;
    text-transform: uppercase;
}


/* +++++++++++++++ How It Works ++++++++++++ */

#how .wrapper{
    max-width: 900px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.container.container-how{
    margin-top: 80px;
}

.how__intro{
    max-width: 500px;
    margin-bottom: 20px;
}

.how__title{
    text-transform: uppercase;
}

.how__text{
    text-align: center;
}

.how__subtitle{
    border: solid var(--secondary-color) 2px;
    background-color: var(--secondary-color) ;
    text-align: center;
    color: var(--white);
    padding: 1rem;
    margin-top: 2rem;
    
}

.how-card{
    max-width: 300px;
}

/* ++++++++++++++ Forms ++++++++++++++ */
.form-container{
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 350px;
    background-color: var(--white);
    padding: 30px;
    margin: 100px auto 50px;
}

.form__title{
    text-align: center;
    padding: 0 0 10px;
    color: var(--primary-color);
}

.form-label{
    margin-bottom: 0;
}

.btn.form__button{
    display: block;
    margin: 2px;
    margin-bottom: 5px;
    box-shadow: var(--box-shadow);
}

.form__button--primary{
    width: 100%;
    background-color: var(--primary-color);
    color:var(--white);
}

.btn.form__button--primary:hover{
    width: 100%;
    border-color: var(--primary-color);
}

.form__button--secondary{
    width: 100%;
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

.btn.form__button--secondary:hover{
    color: var(--secondary-color);
    background-color: var(--white);
    border-color: var(--secondary-color);
}

.form__button--secondary--reverse{
    width: 100%;
    color: var(--secondary-color);
    background-color: var(--white);
    border-color: var(--secondary-color);
 
}

.form__button--secondary--reverse:hover{
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
    color: var(--white)
}

.buttons{
    margin-top: 20px;
}



/* ++++++++++++++ User Account ++++++++++++++ */


#hint_id_password1 ul li{
    font-size:10px;
}

/* ++++++++++ Toys ++++++++++++++++*/

#toys .container{
    display: flex;
    flex-direction: column;
    margin: 0 auto 1.5rem;
    gap: 1.5rem;
}

.toys-card{
    box-shadow: var(--box-shadow);
    margin: auto;
    color: var(--black);
    border-top-left-radius: calc(0.375rem - 1px);
    border-top-right-radius: calc(0.375rem - 1px);
}

.toys-card:hover,
.toy:hover{
    cursor: pointer;
    box-shadow: var(--box-shadow);
    transform: scale(1.01);
    color: var(--black);
}

.toys__title{
    color: var(--primary-color);
    margin: 80px 0 20px;
    color: var(--black);
}

.toy{
    text-decoration: none;
    color: var(--black);
}


.toys-buttons{
    position: absolute;
    bottom: 5%;
    left: 5%;
}

.toy .card{
    border: solid var(--bg-white) 0px;
    
}

div.card{
    height: 550px;
    width: 18rem;
}

div.card-img-container{
    flex: 0 0 350px;
    height: 100px;
}

img.card-img-top{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

div.card-body{
    flex: 0 1 250px;
}


.card-badge{
    position: absolute;
    right: -5%;
    bottom: 40%;
    background-color: var(--ternary-color);
    display: inline-block;
    color: black;
    font-weight: bold;
    padding: 3px 6px;

}

.card-text{
    margin: 0;
    color: var(--black);
    font-size: 0.95rem;
}

.card-text-lg{
    font-size:1.5rem;
}

/* ++++++++++++ Toys form - Add and Edit ++++++++++++++ */
.form-toys.form-container{
    box-shadow: var(--box-shadow);
}

/* +++++++ Toy - Detail +++++++++++++++ */
.toys__search{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.btn-toys{
    font-size: 0.9rem;
    width: 120px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

}


.toy-detail{
    margin: 70px auto 30px;
}

.toy-container{
    max-width: 300px;
    display: flex;
    flex-direction: column;
}

.toy-detail__picture{
    width: 300px;
    height: 400px;
    align-self: center;
}

.toy-detail__picture img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.fa-child{
    font-size: 23px;
}


/* +++++++ Bag +++++++++++++++ */

#bag h2{
    color: var(--primary-color);
    margin: 70px 0 20px;
}

.btn-bag{
    max-width: 150px;
}

.bag__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px auto;
    padding: 0 15px;
    max-width: 300px;
}

.bag__checkout{
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    padding: 0 15px;
    max-width: 300px;
}

.checkout__buttons{
    display: flex;
    flex-direction: column;
    gap: 15px
}



@media screen and  (min-width: 767px){
    .nav-top{
        display: flex;
        flex-wrap: nowrap;
        padding:  0 0;
    }

    .nav-top-mobile{
        display: none;
    }

    .nav-top__logo,
    .nav-top__search,
    .nav-top__buttons{
        align-self: center;
        flex: 0 1 calc(100%/3);
    }

    .navbar-expand-md .navbar-collapse{
        justify-content: center;
    }

    .container{
        margin-top: 100px;
    }
    /* +++++++++++ How it works ++++++++++++++ */
    .how-card{
        max-width: 400px;
    }

    .how__subtitle{
        padding: 2rem;
    }

    /* ++++++++++ Forms ++++++++++++++++*/
    .form-container{
        max-width: 400px;
        margin: 200px auto 50px;
    }


    /* ++++++++++ Toys ++++++++++++++++*/
    .btn-toys{
        width: 150px;

    }
    
    #toys .container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 40px;
        max-width: 1400px;
        justify-content: center;
        align-items: center;
    }

    .toys-card{
        margin:0;
    }

     /* ++++++++++++ Toys form - Add and Edit ++++++++++++++ */
    .form-toys.form-container{
        margin-top: 120px;
    }   

    /* ++++++++++ Toy Detail ++++++++++++++++ */
    .toy-container{
        max-width: 400px;
    }

    .toy-detail__picture{
        width: 400px;
        height: 550px;
        margin: 0 auto;
        gap: 20px;
    }

     /* ++++++++++ Shopping Bag ++++++++++++++++ */
    .bag__content{
        flex-direction: row;
        max-width: 100%;
        gap: 15px;
        justify-content: space-between;
        padding: 0 30px;
    }

    .bag__checkout{
        flex-direction: column;
        max-width: 100%;
        text-align: end;
        padding: 0 30px;
    }

    .bag__table, .bag__form{
        flex-basis: 40%; 
    }

    #bag h2{
        margin: 80px 0 30px;
    }

    .bag__checkout{
        margin-bottom: 20px;
    }

    .checkout__total{
        padding-right: 8px;
    }

    .checkout__buttons{
        display: flex;
        flex-direction: row;
        justify-content: end;
        padding:0;
        gap:0;
    }
    
}

@media screen and  (min-width: 950px){
    /* +++++++ Toy - Detail +++++++++++++++ */
    .toy-container{
        max-width: 700px;
    }

    .toy-detail__picture{
        width: 350px;
        height: 450px;
        margin: 0;
    }

    .toy-container{
        flex-direction: row;
        gap: 2rem;
    }

    #bag h2{
        margin: 110px 0 30px;
    }

    .bag__table{
        flex-basis: 400px;
    }
    .bag__form{
        flex-basis: 500px;
    }
}


@media screen and  (min-width: 1300px){

    .container{
        margin-top: 80px;
    }

    .home-wrapper{
        max-width: 900px;
    }

    /* +++++++++++ How it works ++++++++++++++ */
    #how .wrapper{
        flex-direction: row;
        gap: 2rem;
        align-items: flex-start;
        margin-bottom: 2rem;
    }

    .how__intro{
        margin: 0 auto;
    }

    .how-card{
        width: 300px;
    }

    .container.container-how{
        margin-top: 120px;
    }

    /* ++++++++++ Forms ++++++++++++++++*/
    .form-container{
        max-width: 450px;
    }

    /* ++++++++++ Toys ++++++++++++++++*/
    .toys__title{
        margin-top: 120px;
    }

    /* ++++++++++++ Toys form - Add and Edit ++++++++++++++ */
    .form-toys.form-container{
        margin-top: 150px;
    } 
}