{% extends "base.html" %}
{% load static %}

{% block title %}Error 403{% endblock title %}

{% block content %}
<div class="error-wrapper">
  <div class="container form-container form-account">
      <h1 class="form__title">403</h1>
      <h2 class="form__title">Unauthorized Actions</h2>
    
      <p class="text-center">You are not allowed to perform this action, please return to the homepage.</p>

      <!-- Buttons -->
      <div class="d-flex flex-column flex-md-row gap-md-2">
          <a class= "btn form__button form__button--secondary w-100 flex-grow-1" href="{% url 'home' %}"> Home </a>
      </div>
    
  </div>
</div>
{% endblock %}

{% block footer %}
    {% include 'includes/footer.html' %}
{% endblock %}