<footer class="footer p-2">
    <!-- Start: Social media -->
    <div class="footer__title">Stay in touch!</div>
    <div class="footer__icons p-1">
        <span><a class="footer__link" href="https://www.facebook.com/" target="_blank" rel="noopener" aria-label="Find us on Facebook (link opens in a new tab)"><i class="fa-brands fa-facebook-f"></i></a></span>
        <span><a class="footer__link" href="https://www.instagram.com/"  target="_blank" rel="noopener" aria-label="Find us on Instagram (link opens in a new tab)"><i class="fa-brands fa-instagram"></i></a></span>
        <span><a class="footer__link" href="mailto:sarka.grubner@loopitoy.com" aria-label="Contact us via email (email explorer opens)"><i class="fa-solid fa-envelope"></i></a></span>
    </div>
    <!-- End: Social media -->

    <!-- Start: Copyright media -->
    <div class="copyright pt-2 text-center">
        <span class="copyright__text">Created by 
            <a class="copyright__link" href="https://github.com/brodsa" aria-label="Github profile of the developer is opened in a new window tab.">
                Sarka Grubner
            </a>
        </span> 
    </div>
    <!-- End: Social media -->
</footer>