<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <!-- Menu Items -->
    <ul class="navbar-nav">

      <!-- Products-->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Products
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'toys' %}">All Products</a></li>
            <li><a class="dropdown-item" href="{% url 'home' %}">Toys</a></li>
            <li><a class="dropdown-item" href="{% url 'home' %}">Books</a></li>
            <li><a class="dropdown-item" href="{% url 'home' %}">Games</a></li>
            <li><a class="dropdown-item" href="{% url 'home' %}">Accessories</a></li>
        </ul>
      </li>

      <!-- Age Group -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Age Group
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href=#>Newborns & Infants</a></li>
            <li><a class="dropdown-item" href="{% url 'home' %}">Toodles</a></li>
            <li><a class="dropdown-item" href="{% url 'home' %}">Preschoolers</a></li>
            <li><a class="dropdown-item" href="{% url 'home' %}">School-aged Children</a></li>
        </ul>
      </li>

      <!-- Sell Toys -->
      <li class="nav-item">
        <a class="nav-link {% if url_name == 'home' %}active{% endif %}" href="{% url 'home' %}">Sell Toys</a>
      </li>
      
      <!-- How It Works -->
      <li class="nav-item">
        <a class="nav-link {% if url_name == 'how' %}active{% endif %}" href="{% url 'how' %}">How it Works</a>
      </li>

    </ul>
  </div>