<div class="collapse navbar-collapse" id="navbarSupportedContent">
    <!-- Menu Items -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link hide-pc" href="{% url 'home' %}">Home</a>
      </li>

      <!-- Products-->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Toys
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="{% url 'toys' %}">All Toys</a></li>
          <li><a class="dropdown-item" href="{% url 'toys' %}?category=cars,dolls,cuddle">Cars & Dolls</a></li>
          <li><a class="dropdown-item" href="{% url 'toys' %}?category=books,puzzles">Books & Puzzles</a></li>
          <li><a class="dropdown-item" href="{% url 'toys' %}?category=fine_motor,gross_motor">Motor Activities</a></li>
          <li><a class="dropdown-item" href="{% url 'toys' %}?category=accessories,furniture">Accessories & Furniture</a></li>
          
        </ul>
      </li>

      <!-- Age Group -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Age Group
        </a>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'toys' %}?age=newbor_infant">Newborns & Infants</a></li>
            <li><a class="dropdown-item" href="{% url 'toys' %}?age=toodler">Toodlers</a></li>
            <li><a class="dropdown-item" href="{% url 'toys' %}?age=preschooler">Preschoolers</a></li>
            <li><a class="dropdown-item" href="{% url 'toys' %}?age=schooler">School-aged Children</a></li>
        </ul>
      </li>

      <!-- Sell Toys -->
      <li class="nav-item">
        <a class="nav-link {% if url_name == 'sell_toy' %}active{% endif %}" href="{% url 'sell_toy' %}">Sell Toys</a>
      </li>
      
      <!-- How It Works -->
      <li class="nav-item">
        <a class="nav-link {% if url_name == 'how' %}active{% endif %}" href="{% url 'how' %}">How it Works</a>
      </li>

      <!-- About -->
      <li class="nav-item">
        <a class="nav-link {% if url_name == 'about' %}active{% endif %}" href="{% url 'about' %}">About</a>
      </li>

      <!-- Contact -->
      <li class="nav-item">
        <a class="nav-link {% if url_name == 'contact' %}active{% endif %}" href="{% url 'contact' %}">Contact</a>
      </li>

    </ul>
  </div>