<div class="nav-top-mobile btn-group">
    <a class="nav-link dropdown d-inline-block" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <div class="text-center">
            <span><i class="fas fa-search"></i></span>
        </div>
    </a>
    <div class="dropdown-menu search">
        <form class="form" method="GET" action="#">
            <div class="input-group w-100">
                <input class="form-control rounded-0" type="text" name="q" placeholder="Search our site">
                <div class="input-group-append">
                    <button class="form-control form-control btn  border border-black rounded-0" type="submit">
                        <span class="icon">
                            <i class="fas fa-search"></i>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
    <a class="nav-link dropdown mx-4 d-inline-block" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        <div class="text-center">
            <div><i class="fas fa-user fa-lg"></i></div>
            <p class="my-0">My Account</p>
        </div>
    </a>
    <ul class="dropdown-menu">
      <!-- Profile -->
      <li><a class="dropdown-item" href="{% url 'home' %}">Profile</a></li>
      <!-- Add New Toy -->
      <li><a class="dropdown-item" href="{% url 'home' %}">Add New Toy</a></li>
      <!-- Received Toys -->
      <li><a class="dropdown-item" href="{% url 'home' %}">Received Toys</a></li>
      <!-- Log out -->
      <li><a class="dropdown-item" href="/accounts/logout">Logout</a></li>
      <!-- Login -->
      <li><a class="dropdown-item" href="/accounts/login">Login</a></li>
      <!-- Register -->
      <li><a class="dropdown-item"  href="/accounts/signup">Register</a></li>
    </ul>
    <a class="nav-link d-inline-block " href="{% url 'home' %}">
        <div class="text-center">
            <div><i class="fas fa-shopping-bag fa-lg"></i></div>
            <p class="my-0 ">0.00€</p>
        </div>
    </a>
  </div>