{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% trans "Sign Out" %}{% endblock %}

{% block inner_content %}
<div>
  <h1 class="form__title">{% trans "Sign Out" %}</h1>

  <p class="text-center">{% trans 'Are you sure you want to sign out?' %}</p>

  <form method="post" action="{% url 'account_logout' %}">
    {% csrf_token %}
    {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
    {% endif %}
    <div class="d-flex flex-column flex-md-row gap-md-2">
      <button class="btn form__button form__button--primary" type="submit">{% trans 'Sign Out' %}</button>
      <a class= "btn form__button form__button--secondary" href="{% url 'home' %}"> Stay </a>
    </div>
  </form>
</div>

{% endblock %}

{% block footer %}
    {% include 'includes/footer.html' %}
{% endblock %}
