<div class="footer__title">Stay in touch!</div>
<div class="footer__icons p-1">
    <span><a class="footer__link" href="https://m.facebook.com/61563357841996/" target="_blank" rel="noopener nofollow" aria-label="Find us on Facebook (link opens in a new tab)"><i class="fa-brands fa-facebook-f"></i></a></span>
    <span><a class="footer__link" href="https://www.instagram.com/"  target="_blank" rel="noopener nofollow" aria-label="Find us on Instagram (link opens in a new tab)"><i class="fa-brands fa-instagram"></i></a></span>
    <span><a class="footer__link" href="mailto:sarka.grubner@loopitoy.com" aria-label="Contact us via email (email explorer opens)"><i class="fa-solid fa-envelope"></i></a></span>
</div>