{% extends 'base.html' %}
{% load static %}

{% block title %}Contact Us{% endblock %}

{% block page_header %}
<div class="container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>

{% endblock %}

{% block content %}
<div class="contact-container form-account">
    <h1 class="form__title">Contact Us</h1>

    <p class="text-center"> We are glad to hear from you! Leave us message if you have any questions, feedback to provide or any other matter. </p>
    
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.media }} 
        {{ form|crispy }}
        <!-- Buttons -->
        <div class="d-flex flex-column flex-md-row gap-md-2">
            <button type="submit" class="btn form__button form__button--primary">Send</button>
        </div>
    </form>
</div>
{% endblock %}

{% block footer %}
    {% include 'includes/footer.html' %}
{% endblock %}