{% extends "base.html" %}
{% load static %}

{% block title %}Thank You{% endblock title %}

{% block content %}
<div class="form-container form-account">
    <h1 class="form__title">Thank you ...</h1>
  
    <p class="text-center">.. for contacting us. We have received your message. We will contact you very soon!</p>

    <!-- Buttons -->
    <div class="d-flex flex-column flex-md-row gap-md-2">
        <a class= "btn form__button form__button--secondary w-100 flex-grow-1" href="{% url 'home' %}"> Home </a>
    </div>
  
  </div>

{% endblock %}

{% block footer %}{% endblock %}